:root {

--background-dark: 
--rich-black-fogra-29: #3a3b43ff;
--prussian-blue: #212d40ff;
--sizzling-red: #f2545bff;
--mint-cream: #f1f7edff;
--honey-yellow: #f6ae2dff;

}

body {
    background-color: var(--rich-black-fogra-29);
    color: var(--mint-cream);
}

header {
    color: var(--honey-yellow);
    margin: 0px;
    padding: 0px;  
    background-color: black;
    position: fixed;
    width: 100%;
    text-align: center;
}

nav.main-nav {
    margin-top: 8%;
    margin-left: 2%;
    height: 100%;
    width: 20%;
    float: left;
}

nav.main-nav img {
    max-width: 80%;
    height: auto;
    padding: 4px;
    margin: 5px;
    margin-left: 10px;
}

nav ul {
    list-style: none;
    margin: 10px;
}

nav ul li {
    margin: 10px;
    padding-top: 10px;
}

nav ul a {
    color: var(--mint-cream);
    text-decoration: none;
}

nav ul a:hover {
    color: orange;
    text-decoration: none;
}

article {
    margin: 10px;
    padding: 10px;
    margin-left: 24%;
    margin-right: 5%;
}

article section.content {
    margin-top: 10%;
    text-align: justify;
    word-spacing:-1px;
}

article section.content h1, h2, h3, h4, h5 {
}

article section#interests {
    margin-top: 5%;
    text-align: justify;
    word-spacing:-1px;
}

footer {
    position: absolute;
    width: 100%;
    text-align: center;
}


.theorem-hd {
    font-family: "times new roman";
    font-style: none;
    font-weight: bold;
    font-size: 115%;
    text-indent: 5px;
    margin-bottom: 5px;
}

.theorem {
    font-family: "times new roman";
    font-style: oblique;
}

.mathmode {
    text-indent: 20px;
    font-family: "times new roman";
}

.mathtext {
    text-indent: 20px;
    font-family: "times new roman";
}
